body {
	background: url('../images/priekestolen.jpg');
	background-size: 100%;
}

#game {
	font-size: 24px;
	color: white;
	font-weight: bold;
	text-align: center;
	margin-top: 170px;
}

.title {
	text-align: center;
}
